html, body {
    height: 100%;
}
.active {
    background-color: #eee;
    border: 1px solid black;
    color: black;
}
footer {
    background-color: black;
    color: white;
    height: 8vh;
    vertical-align: middle;
}
footer > p {
    margin: auto;
}
form {
    margin: 40px auto;
}